.mediaViewInfo {
    --web-view-name: Home (Laptop) 18;
    --web-view-id: Home_Laptop__18;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Home_Laptop__18;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Home_Laptop__18 {
    position: absolute;
    width: 1906px;
    height: 1817px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Home (Laptop) 18;
    --web-view-id: Home_Laptop__18;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Group_104 {
    position: absolute;
    width: 1906px;
    height: 456px;
    left: 0px;
    top: 1361px;
    overflow: visible;
}
#Rectangle_52 {
    fill: rgba(41,40,40,1);
}
.Rectangle_52 {
    position: absolute;
    overflow: visible;
    width: 1906px;
    height: 456px;
    left: 0px;
    top: 0px;
}
#Support {
    left: 609px;
    top: 1431px;
    position: absolute;
    overflow: visible;
    width: 168px;
    white-space: nowrap;
    line-height: 137px;
    margin-top: -47.5px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    color: rgba(247,240,240,1);
    letter-spacing: 0.5px;
}
#Contact_Us {
    left: 628px;
    top: 1514px;
    position: absolute;
    overflow: visible;
    width: 128px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: lighter;
    font-size: 26px;
    color: rgba(255,255,255,1);
}
#Shop_and_Learn {
    left: 174px;
    top: 1431px;
    position: absolute;
    overflow: visible;
    width: 326px;
    white-space: nowrap;
    line-height: 137px;
    margin-top: -47.5px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    color: rgba(247,240,240,1);
    letter-spacing: 0.5px;
}
#Sign_up {
    left: 204px;
    top: 1514px;
    position: absolute;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: lighter;
    font-size: 26px;
    color: rgba(255,255,255,1);
}
#Sign_in {
    left: 204px;
    top: 1574px;
    position: absolute;
    overflow: visible;
    width: 79px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: lighter;
    font-size: 26px;
    color: rgba(255,255,255,1);
}
#Item_lists {
    left: 207px;
    top: 1634px;
    position: absolute;
    overflow: visible;
    width: 103px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: lighter;
    font-size: 26px;
    color: rgba(255,255,255,1);
}
#Copyright__2021_HIVE_Techwear_ {
    left: 26px;
    top: 1761px;
    position: absolute;
    overflow: visible;
    width: 1279px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: lighter;
    font-size: 26px;
    color: rgba(255,255,255,1);
}
#Line_132 {
    fill: transparent;
    stroke: rgba(248,240,240,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_132 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 30px;
    left: 1248.5px;
    top: 1764.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_133 {
    fill: transparent;
    stroke: rgba(248,240,240,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_133 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 30px;
    left: 1118.5px;
    top: 1764.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_134 {
    fill: transparent;
    stroke: rgba(248,240,240,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_134 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 30px;
    left: 1194.5px;
    top: 1764.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_17 {
    fill: rgba(0,0,0,0);
    stroke: rgba(248,240,240,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_17 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 30px;
    left: 808.5px;
    top: 1764.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_135 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 0.5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_135 {
    overflow: visible;
    position: absolute;
    width: 1847px;
    height: 0.5px;
    left: 25.5px;
    top: 1737.5px;
    transform: matrix(1,0,0,1,0,0);
}
#icons8-facebook-150_1 {
    opacity: 0.672;
    position: absolute;
    width: 49px;
    height: 49px;
    left: 1730px;
    top: 1670px;
    overflow: visible;
}
#icons8-instagram-150 {
    opacity: 0.672;
    position: absolute;
    width: 49px;
    height: 49px;
    left: 1806px;
    top: 1670px;
    overflow: visible;
}
#My_Cart {
    left: 142px;
    top: 200px;
    position: absolute;
    overflow: visible;
    width: 246px;
    white-space: nowrap;
    line-height: 120px;
    margin-top: -25px;
    text-align: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    color: rgba(55,56,54,1);
}
#Adidas_Yeezy {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    left: 95px;
    top: 705px;
    position: absolute;
    overflow: visible;
    width: 133px;
    white-space: nowrap;
    line-height: 66px;
    margin-top: -22px;
    text-align: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgba(55,56,54,1);
}
#Adidas_originals_men {
    left: 94px;
    top: 741px;
    position: absolute;
    overflow: visible;
    width: 153px;
    white-space: nowrap;
    line-height: 64px;
    margin-top: -24px;
    text-align: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(57,59,57,1);
}
#n_0 {
    left: 88px;
    top: 779px;
    position: absolute;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    line-height: 64px;
    margin-top: -22px;
    text-align: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    color: rgba(57,59,57,1);
}
#Mask_Group_138 {
    position: absolute;
    width: 270px;
    height: 328px;
    left: 81px;
    top: 360px;
    overflow: visible;
}
#Adidas_Yeezy_bk {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    left: 423px;
    top: 704px;
    position: absolute;
    overflow: visible;
    width: 133px;
    white-space: nowrap;
    line-height: 66px;
    margin-top: -22px;
    text-align: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgba(55,56,54,1);
}
#Adidas_originals_men_bl {
    left: 422px;
    top: 741px;
    position: absolute;
    overflow: visible;
    width: 153px;
    white-space: nowrap;
    line-height: 64px;
    margin-top: -24px;
    text-align: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(57,59,57,1);
}
#n_000 {
    left: 418px;
    top: 779px;
    position: absolute;
    overflow: visible;
    width: 57px;
    white-space: nowrap;
    line-height: 64px;
    margin-top: -22px;
    text-align: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    color: rgba(57,59,57,1);
}
#Mask_Group_139 {
    position: absolute;
    width: 269px;
    height: 328px;
    left: 410px;
    top: 360px;
    overflow: visible;
}
#Adidas_Yeezy_bo {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    left: 751px;
    top: 705px;
    position: absolute;
    overflow: visible;
    width: 133px;
    white-space: nowrap;
    line-height: 66px;
    margin-top: -22px;
    text-align: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgba(55,56,54,1);
}
#Adidas_originals_men_bp {
    left: 750px;
    top: 741px;
    position: absolute;
    overflow: visible;
    width: 153px;
    white-space: nowrap;
    line-height: 64px;
    margin-top: -24px;
    text-align: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(57,59,57,1);
}
#n_00 {
    left: 747px;
    top: 779px;
    position: absolute;
    overflow: visible;
    width: 45px;
    white-space: nowrap;
    line-height: 64px;
    margin-top: -22px;
    text-align: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    color: rgba(57,59,57,1);
}
#Mask_Group_140 {
    position: absolute;
    width: 269px;
    height: 328px;
    left: 738px;
    top: 360px;
    overflow: visible;
}
#Adidas_Yeezy_bs {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    left: 1080px;
    top: 706px;
    position: absolute;
    overflow: visible;
    width: 133px;
    white-space: nowrap;
    line-height: 66px;
    margin-top: -22px;
    text-align: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgba(55,56,54,1);
}
#Adidas_originals_men_bt {
    left: 1079px;
    top: 742px;
    position: absolute;
    overflow: visible;
    width: 153px;
    white-space: nowrap;
    line-height: 64px;
    margin-top: -24px;
    text-align: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(57,59,57,1);
}
#n_00_bu {
    left: 1073px;
    top: 779px;
    position: absolute;
    overflow: visible;
    width: 45px;
    white-space: nowrap;
    line-height: 64px;
    margin-top: -22px;
    text-align: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    color: rgba(57,59,57,1);
}
#Mask_Group_141 {
    position: absolute;
    width: 275px;
    height: 328px;
    left: 1067px;
    top: 361px;
    overflow: visible;
}
#Adidas_Yeezy_bw {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    left: 1415px;
    top: 704px;
    position: absolute;
    overflow: visible;
    width: 133px;
    white-space: nowrap;
    line-height: 66px;
    margin-top: -22px;
    text-align: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgba(55,56,54,1);
}
#Adidas_originals_men_bx {
    left: 1414px;
    top: 740px;
    position: absolute;
    overflow: visible;
    width: 153px;
    white-space: nowrap;
    line-height: 64px;
    margin-top: -24px;
    text-align: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(57,59,57,1);
}
#SUBTOTAL {
    left: 1263px;
    top: 946px;
    position: absolute;
    overflow: visible;
    width: 165px;
    white-space: nowrap;
    line-height: 64px;
    margin-top: -17px;
    text-align: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(57,59,57,1);
}
#n_050 {
    left: 1565.5px;
    top: 948px;
    position: absolute;
    overflow: visible;
    width: 85px;
    white-space: nowrap;
    line-height: 64px;
    margin-top: -17px;
    text-align: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(57,59,57,1);
}
#n__-_ITEMS {
    left: 1260px;
    top: 1012.588px;
    position: absolute;
    overflow: visible;
    width: 137px;
    white-space: nowrap;
    line-height: 64px;
    margin-top: -17px;
    text-align: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(57,59,57,1);
}
#n_500 {
    left: 1409px;
    top: 778px;
    position: absolute;
    overflow: visible;
    width: 57px;
    white-space: nowrap;
    line-height: 64px;
    margin-top: -22px;
    text-align: center;
    font-family: Spartan;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    color: rgba(57,59,57,1);
}
#Remove {
    left: 266px;
    top: 778px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    line-height: 23px;
    margin-top: -2.5px;
    text-align: left;
    font-family: Spartan;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(44,43,43,1);
}
#Remove_b {
    left: 594px;
    top: 778px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    line-height: 23px;
    margin-top: -2.5px;
    text-align: left;
    font-family: Spartan;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(44,43,43,1);
}
#Remove_ca {
    left: 922px;
    top: 778px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    line-height: 23px;
    margin-top: -2.5px;
    text-align: left;
    font-family: Spartan;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(44,43,43,1);
}
#Remove_cb {
    left: 1257px;
    top: 778px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    line-height: 23px;
    margin-top: -2.5px;
    text-align: left;
    font-family: Spartan;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(44,43,43,1);
}
#Remove_cc {
    left: 1586px;
    top: 778px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    line-height: 23px;
    margin-top: -2.5px;
    text-align: left;
    font-family: Spartan;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(44,43,43,1);
}
#Line_173 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_173 {
    overflow: visible;
    position: absolute;
    width: 76px;
    height: 1px;
    left: 267.5px;
    top: 797.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_174 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_174 {
    overflow: visible;
    position: absolute;
    width: 76px;
    height: 1px;
    left: 594.5px;
    top: 797.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_175 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_175 {
    overflow: visible;
    position: absolute;
    width: 76px;
    height: 1px;
    left: 923.5px;
    top: 797.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_176 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_176 {
    overflow: visible;
    position: absolute;
    width: 76px;
    height: 1px;
    left: 1257.5px;
    top: 797.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_177 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_177 {
    overflow: visible;
    position: absolute;
    width: 76px;
    height: 1px;
    left: 1587.5px;
    top: 797.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_178 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_178 {
    overflow: visible;
    position: absolute;
    width: 1638.5px;
    height: 2px;
    left: 69.5px;
    top: 893.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_24 {
    fill: rgba(60,62,60,1);
}
.Rectangle_24 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.443));
    position: absolute;
    overflow: visible;
    width: 445.262px;
    height: 112.345px;
    left: 1251.298px;
    top: 1067.088px;
}
#PROCEED_TO_CHECKOUT {
    left: 1285.999px;
    top: 1095.283px;
    position: absolute;
    overflow: visible;
    width: 342px;
    white-space: nowrap;
    line-height: 29px;
    margin-top: -0.5px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(255,255,255,1);
}
#TECHshop {
    left: 56px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 151px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(255,255,255,1);
}
#outline_shopping_bag_white_48d {
    position: absolute;
    width: 38px;
    height: 37px;
    left: 1838px;
    top: 18px;
    overflow: visible;
}
#n__ {
    left: 414px;
    top: 32px;
    position: absolute;
    overflow: visible;
    width: 13px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgba(255,255,255,1);
}
#Path_26 {
    fill: rgba(255,255,255,1);
}
.Path_26 {
    filter: drop-shadow(0px 3px 10px rgba(41, 40, 40, 0.706));
    overflow: visible;
    position: absolute;
    width: 1936px;
    height: 94px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Sign_In {
    left: 1542px;
    top: 15px;
    position: absolute;
    overflow: visible;
    width: 77px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: lighter;
    font-size: 25px;
    color: rgba(55,56,54,1);
}
#Sign_Up {
    left: 1668px;
    top: 15px;
    position: absolute;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: lighter;
    font-size: 25px;
    color: rgba(55,56,54,1);
}
#Rectangle_428 {
    opacity: 0.7;
    fill: rgba(55,56,54,1);
}
.Rectangle_428 {
    position: absolute;
    overflow: visible;
    width: 369px;
    height: 46px;
    left: 1129px;
    top: 9px;
}
#Search {
    left: 1159px;
    top: 20px;
    position: absolute;
    overflow: visible;
    width: 64px;
    white-space: nowrap;
    line-height: 26px;
    margin-top: -4px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(255,255,255,1);
    letter-spacing: 1px;
}
#Group_187 {
    position: absolute;
    width: 20.5px;
    height: 20.5px;
    left: 1460px;
    top: 20px;
    overflow: visible;
}
#Ellipse_14 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_14 {
    position: absolute;
    overflow: visible;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
}
#Line_126 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_126 {
    overflow: visible;
    position: absolute;
    width: 11.243px;
    height: 11.242px;
    left: 13.5px;
    top: 13.5px;
    transform: matrix(1,0,0,1,0,0);
}
#local_mall_black_24dp {
    position: absolute;
    width: 34.586px;
    height: 34.586px;
    left: 1803px;
    top: 15.957px;
    overflow: visible;
}
#Path_19 {
    fill: transparent;
}
.Path_19 {
    overflow: visible;
    position: absolute;
    width: 34.586px;
    height: 34.586px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_20 {
    fill: rgba(92,93,91,1);
}
.Path_20 {
    overflow: visible;
    position: absolute;
    width: 25.94px;
    height: 30.263px;
    left: 4.323px;
    top: 1.441px;
    transform: matrix(1,0,0,1,0,0);
}
#HIVE_Techwear {
    left: 35px;
    top: 6px;
    position: absolute;
    overflow: visible;
    width: 131px;
    white-space: nowrap;
    text-align: left;
    font-family: Zen Dots;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(55,56,54,1);
    letter-spacing: 0.1px;
}
#Group_205 {
    position: absolute;
    width: 26px;
    height: 27px;
    left: 1838px;
    top: 22px;
    overflow: visible;
}
#Ellipse_15 {
    opacity: 0.7;
    fill: rgba(92,93,91,1);
}
.Ellipse_15 {
    position: absolute;
    overflow: visible;
    width: 26px;
    height: 26px;
    left: 0px;
    top: 0px;
}
#n_ {
    opacity: 0.7;
    left: 8px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 12px;
    white-space: nowrap;
    line-height: 22px;
    margin-top: -1px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Mask_Group_102 {
    position: absolute;
    width: 270px;
    height: 329px;
    left: 1402px;
    top: 360px;
    overflow: visible;
}