.mediaViewInfo {
    --web-view-name: Home (Laptop) – 20;
    --web-view-id: Home_Laptop__20;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Home_Laptop__20;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Home_Laptop__20 {
    position: absolute;
    width: 1906px;
    height: 3251px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Home (Laptop) – 20;
    --web-view-id: Home_Laptop__20;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Group_104 {
    position: absolute;
    width: 1906px;
    height: 456px;
    left: 0px;
    top: 2795px;
    overflow: visible;
}
#Rectangle_52 {
    fill: rgba(41,40,40,1);
}
.Rectangle_52 {
    position: absolute;
    overflow: visible;
    width: 1906px;
    height: 456px;
    left: 0px;
    top: 0px;
}
#Support {
    left: 609px;
    top: 2865px;
    position: absolute;
    overflow: visible;
    width: 168px;
    white-space: nowrap;
    line-height: 137px;
    margin-top: -47.5px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    color: rgba(247,240,240,1);
    letter-spacing: 0.5px;
}
#Contact_Us {
    left: 628px;
    top: 2948px;
    position: absolute;
    overflow: visible;
    width: 128px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: lighter;
    font-size: 26px;
    color: rgba(255,255,255,1);
}
#Shop_and_Learn {
    left: 174px;
    top: 2865px;
    position: absolute;
    overflow: visible;
    width: 326px;
    white-space: nowrap;
    line-height: 137px;
    margin-top: -47.5px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    color: rgba(247,240,240,1);
    letter-spacing: 0.5px;
}
#Sign_up {
    left: 204px;
    top: 2948px;
    position: absolute;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: lighter;
    font-size: 26px;
    color: rgba(255,255,255,1);
}
#Sign_in {
    left: 204px;
    top: 3008px;
    position: absolute;
    overflow: visible;
    width: 79px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: lighter;
    font-size: 26px;
    color: rgba(255,255,255,1);
}
#Item_lists {
    left: 207px;
    top: 3068px;
    position: absolute;
    overflow: visible;
    width: 103px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: lighter;
    font-size: 26px;
    color: rgba(255,255,255,1);
}
#Copyright__2021_HIVE_Techwear_ {
    left: 26px;
    top: 3195px;
    position: absolute;
    overflow: visible;
    width: 1279px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: lighter;
    font-size: 26px;
    color: rgba(255,255,255,1);
}
#Line_132 {
    fill: transparent;
    stroke: rgba(248,240,240,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_132 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 30px;
    left: 1248.5px;
    top: 3198.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_133 {
    fill: transparent;
    stroke: rgba(248,240,240,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_133 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 30px;
    left: 1118.5px;
    top: 3198.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_134 {
    fill: transparent;
    stroke: rgba(248,240,240,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_134 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 30px;
    left: 1194.5px;
    top: 3198.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_17 {
    fill: rgba(0,0,0,0);
    stroke: rgba(248,240,240,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_17 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 30px;
    left: 808.5px;
    top: 3198.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_135 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 0.5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_135 {
    overflow: visible;
    position: absolute;
    width: 1847px;
    height: 0.5px;
    left: 25.5px;
    top: 3171.5px;
    transform: matrix(1,0,0,1,0,0);
}
#icons8-facebook-150_1 {
    opacity: 0.672;
    position: absolute;
    width: 49px;
    height: 49px;
    left: 1730px;
    top: 3104px;
    overflow: visible;
}
#icons8-instagram-150 {
    opacity: 0.672;
    position: absolute;
    width: 49px;
    height: 49px;
    left: 1806px;
    top: 3104px;
    overflow: visible;
}
#My_items_Details {
    left: 506px;
    top: 360px;
    position: absolute;
    overflow: visible;
    width: 457px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.5px;
}
#Onian {
    left: 536px;
    top: 690px;
    position: absolute;
    overflow: visible;
    width: 82px;
    white-space: nowrap;
    line-height: 40px;
    margin-top: -5px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(70,70,70,1);
}
#Apple {
    left: 536px;
    top: 761px;
    position: absolute;
    overflow: visible;
    width: 82px;
    white-space: nowrap;
    line-height: 40px;
    margin-top: -5px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(70,70,70,1);
}
#Blue_Berries {
    left: 531px;
    top: 604px;
    position: absolute;
    overflow: visible;
    width: 161px;
    white-space: nowrap;
    line-height: 40px;
    margin-top: -5px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(53,53,53,1);
}
#n_900 {
    left: 1264px;
    top: 608px;
    position: absolute;
    overflow: visible;
    width: 81px;
    white-space: nowrap;
    line-height: 40px;
    margin-top: -7px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(78,78,78,1);
}
#n_000 {
    left: 1264px;
    top: 689px;
    position: absolute;
    overflow: visible;
    width: 81px;
    white-space: nowrap;
    line-height: 40px;
    margin-top: -7px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(78,78,78,1);
}
#n_200 {
    left: 1264px;
    top: 760px;
    position: absolute;
    overflow: visible;
    width: 81px;
    white-space: nowrap;
    line-height: 40px;
    margin-top: -7px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(78,78,78,1);
}
#n_100 {
    left: 1245px;
    top: 845px;
    position: absolute;
    overflow: visible;
    width: 112px;
    white-space: nowrap;
    line-height: 40px;
    margin-top: -3px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    color: rgba(0,0,0,1);
}
#Line_153 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_153 {
    overflow: visible;
    position: absolute;
    width: 905px;
    height: 1px;
    left: 504px;
    top: 817px;
    transform: matrix(1,0,0,1,0,0);
}
#Total_Price {
    left: 672px;
    top: 844px;
    position: absolute;
    overflow: visible;
    width: 171px;
    white-space: nowrap;
    line-height: 40px;
    margin-top: -2.5px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(0,0,0,1);
}
#n_ {
    left: 1162px;
    top: 608px;
    position: absolute;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 40px;
    margin-top: -7px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(78,78,78,1);
}
#n__bq {
    left: 1162px;
    top: 694px;
    position: absolute;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 40px;
    margin-top: -7px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(78,78,78,1);
}
#n__br {
    left: 1162px;
    top: 765px;
    position: absolute;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    line-height: 40px;
    margin-top: -7px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(78,78,78,1);
}
#n__bs {
    left: 1159px;
    top: 845px;
    position: absolute;
    overflow: visible;
    width: 21px;
    white-space: nowrap;
    line-height: 40px;
    margin-top: -3px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    color: rgba(0,0,0,1);
}
#Please_check_your_items_and_co {
    left: 506px;
    top: 492px;
    position: absolute;
    overflow: visible;
    width: 772px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.5px;
}
#Rectangle_331 {
    fill: rgba(234,234,234,1);
}
.Rectangle_331 {
    position: absolute;
    overflow: visible;
    width: 620px;
    height: 66px;
    left: 504px;
    top: 992px;
}
#Full_name {
    left: 504px;
    top: 922px;
    position: absolute;
    overflow: visible;
    width: 191px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.5px;
}
#Enter_Recipients_name {
    left: 550px;
    top: 1006px;
    position: absolute;
    overflow: visible;
    width: 337px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(140,140,140,1);
    letter-spacing: 0.5px;
}
#Rectangle_332 {
    fill: rgba(234,234,234,1);
}
.Rectangle_332 {
    position: absolute;
    overflow: visible;
    width: 620px;
    height: 66px;
    left: 506px;
    top: 1181.844px;
}
#Phone_Number {
    left: 506px;
    top: 1112px;
    position: absolute;
    overflow: visible;
    width: 295px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.5px;
}
#Enter_Phone_Number {
    left: 552px;
    top: 1200.844px;
    position: absolute;
    overflow: visible;
    width: 310px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(140,140,140,1);
    letter-spacing: 0.5px;
}
#Rectangle_334 {
    fill: rgba(234,234,234,1);
}
.Rectangle_334 {
    position: absolute;
    overflow: visible;
    width: 620px;
    height: 66px;
    left: 503px;
    top: 1578px;
}
#PIN_Code {
    left: 503px;
    top: 1508px;
    position: absolute;
    overflow: visible;
    width: 189px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.5px;
}
#Enter_PIN_code {
    left: 549px;
    top: 1592px;
    position: absolute;
    overflow: visible;
    width: 224px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(140,140,140,1);
    letter-spacing: 0.5px;
}
#Rectangle_333 {
    fill: rgba(234,234,234,1);
}
.Rectangle_333 {
    position: absolute;
    overflow: visible;
    width: 620px;
    height: 66px;
    left: 506px;
    top: 1383.844px;
}
#Street_address_or_PO_Box {
    left: 506px;
    top: 1314px;
    position: absolute;
    overflow: visible;
    width: 517px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.5px;
}
#Enter_Street_address_or_PO_Box {
    left: 552px;
    top: 1397.844px;
    position: absolute;
    overflow: visible;
    width: 477px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(140,140,140,1);
    letter-spacing: 0.5px;
}
#Rectangle_335 {
    fill: rgba(234,234,234,1);
}
.Rectangle_335 {
    position: absolute;
    overflow: visible;
    width: 620px;
    height: 66px;
    left: 498px;
    top: 1796px;
}
#Rectangle_336 {
    fill: rgba(234,234,234,1);
}
.Rectangle_336 {
    position: absolute;
    overflow: visible;
    width: 620px;
    height: 66px;
    left: 498px;
    top: 1999.156px;
}
#Rectangle_337 {
    fill: rgba(234,234,234,1);
}
.Rectangle_337 {
    position: absolute;
    overflow: visible;
    width: 620px;
    height: 66px;
    left: 498px;
    top: 2194.156px;
}
#Apt_suite_unit_building_floor_ {
    left: 498px;
    top: 1711px;
    position: absolute;
    overflow: visible;
    width: 696px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.5px;
}
#City {
    left: 498px;
    top: 1920.156px;
    position: absolute;
    overflow: visible;
    width: 77px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.5px;
}
#State {
    left: 498px;
    top: 2123.156px;
    position: absolute;
    overflow: visible;
    width: 101px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(0,0,0,1);
    letter-spacing: 0.5px;
}
#Enter_Apt_suite_unit_building_ {
    left: 544px;
    top: 1810px;
    position: absolute;
    overflow: visible;
    width: 525px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(140,140,140,1);
    letter-spacing: 0.5px;
}
#Enter_City {
    left: 544px;
    top: 2013.156px;
    position: absolute;
    overflow: visible;
    width: 147px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(140,140,140,1);
    letter-spacing: 0.5px;
}
#Enter_State {
    left: 544px;
    top: 2208.156px;
    position: absolute;
    overflow: visible;
    width: 164px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(140,140,140,1);
    letter-spacing: 0.5px;
}
#Path_18 {
    fill: rgba(55,56,54,1);
}
.Path_18 {
    overflow: visible;
    position: absolute;
    width: 319.8px;
    height: 87.313px;
    left: 501px;
    top: 2348.156px;
    transform: matrix(1,0,0,1,0,0);
}
#Confirm_and_submit {
    left: 523px;
    top: 2373.156px;
    position: absolute;
    overflow: visible;
    width: 276px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
}
#TECHshop {
    left: 56px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 151px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(255,255,255,1);
}
#outline_shopping_bag_white_48d {
    position: absolute;
    width: 38px;
    height: 37px;
    left: 1838px;
    top: 18px;
    overflow: visible;
}
#n__ {
    left: 414px;
    top: 32px;
    position: absolute;
    overflow: visible;
    width: 13px;
    white-space: nowrap;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgba(255,255,255,1);
}
#Path_29 {
    fill: rgba(255,255,255,1);
}
.Path_29 {
    filter: drop-shadow(0px 3px 10px rgba(41, 40, 40, 0.706));
    overflow: visible;
    position: absolute;
    width: 1936px;
    height: 94px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Sign_In {
    left: 1542px;
    top: 15px;
    position: absolute;
    overflow: visible;
    width: 77px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: lighter;
    font-size: 25px;
    color: rgba(55,56,54,1);
}
#Sign_Up {
    left: 1668px;
    top: 15px;
    position: absolute;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: lighter;
    font-size: 25px;
    color: rgba(55,56,54,1);
}
#Rectangle_431 {
    opacity: 0.7;
    fill: rgba(55,56,54,1);
}
.Rectangle_431 {
    position: absolute;
    overflow: visible;
    width: 369px;
    height: 46px;
    left: 1129px;
    top: 9px;
}
#Search {
    left: 1159px;
    top: 20px;
    position: absolute;
    overflow: visible;
    width: 64px;
    white-space: nowrap;
    line-height: 26px;
    margin-top: -4px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(255,255,255,1);
    letter-spacing: 1px;
}
#Group_190 {
    position: absolute;
    width: 20.5px;
    height: 20.5px;
    left: 1460px;
    top: 20px;
    overflow: visible;
}
#Ellipse_14 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_14 {
    position: absolute;
    overflow: visible;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
}
#Line_126 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_126 {
    overflow: visible;
    position: absolute;
    width: 11.242px;
    height: 11.242px;
    left: 13.5px;
    top: 13.5px;
    transform: matrix(1,0,0,1,0,0);
}
#local_mall_black_24dp {
    position: absolute;
    width: 34.586px;
    height: 34.586px;
    left: 1803px;
    top: 15.957px;
    overflow: visible;
}
#Path_19 {
    fill: transparent;
}
.Path_19 {
    overflow: visible;
    position: absolute;
    width: 34.586px;
    height: 34.586px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_20 {
    fill: rgba(92,93,91,1);
}
.Path_20 {
    overflow: visible;
    position: absolute;
    width: 25.94px;
    height: 30.263px;
    left: 4.323px;
    top: 1.441px;
    transform: matrix(1,0,0,1,0,0);
}
#HIVE_Techwear {
    left: 35px;
    top: 6px;
    position: absolute;
    overflow: visible;
    width: 131px;
    white-space: nowrap;
    text-align: left;
    font-family: Zen Dots;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(55,56,54,1);
    letter-spacing: 0.1px;
}